*.png
*.pdf
__pycache__/


smilei
!smilei/
patch_load.txt
profil.txt
scalars.txt
smilei.py
*h5

epoch1d
epoch2d
epoch3d
deck.status
epoch1d.dat
epoch2d.dat
epoch3d.dat
*.visit
*sdf

diags/
warpx.3*
warpx.2*
warpx.1*
*.bp
*.pmd
warpx_used_inputs
Backtrace*


