*.png
*.pdf
__pycache__/


smilei
!smilei/
patch_load.txt
profil.txt
scalars.tx
smilei.py

epoch1d
epoch2d
epoch3d
deck.status
epoch*d.dat
*.visit

diags/
warpx.2*
warpx.1*
*.h5
*.sdf
*.bp
*.pmd
warpx_used_inputs
Backtrace*
